<div id="wrapper">

  <!--frostbitt tab-->
  <mat-tab-group id="nav-bar">
    <mat-tab>
      <ng-template mat-tab-label>
        <img id="frostbitt-navbar-image" src="../../assets/pictures/Frostbitt outlined.png" />
      </ng-template>
      <merch></merch>
    </mat-tab>

    <!--Merchendise tab-->
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="label-text">Merchandise</p>
      </ng-template>
      <merch></merch>
    </mat-tab>

    <!--Discography tab-->
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="label-text">Discography</p>
      </ng-template>
      <merch></merch>
    </mat-tab>

    <!--Tour Dates tab-->
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="label-text">Tour Dates</p>
      </ng-template>
      <merch></merch>
    </mat-tab>

    <!--Blog tab-->
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="label-text">Blog</p>
      </ng-template>
      <merch></merch>
    </mat-tab>

    <!--Mailing list-->
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="label-text">Mailing List</p>
      </ng-template>
      <merch></merch>
    </mat-tab>

  </mat-tab-group>
</div>
